[2017-08-26 10:55] izelnakri opened #1 "Ethereumex.HttpClient.eth_send_transaction doesnt work for testrpc"
Thanks for writing an API that one-to-one matches the Ethereum JSON RPC. The send transaction doesnt seem to work though:

error code:

[code]

[2017-08-26 18:47] ayrat555 commented on #1
@izelnakri can give a little more information about your request? what parameters did you pass?

Request with  geth client
[code]

[2017-08-26 21:11] izelnakri commented on #1
ohh so it is a map inside a list, not a list, keyword-list or a single map my bad sorry. Would be helpful if we had some typespecs and more tests though.

[2017-08-26 21:18] ayrat555 commented on #1
@izelnakri yes, typespecs would be very helpful. I will add them soon. By the way, pull requests are welcome.

[2017-08-26 21:18] #1 closed

[2017-09-24 05:23] eduardonunesp opened #3 "Any reason to not include personal too ?"

[2017-09-24 07:50] ayrat555 commented on #3
@eduardonunesp I didn't understand the question. Can you give a little more explanation?

[2017-09-24 09:32] eduardonunesp commented on #3
Sure, I mean the personal methods like the methods in `web3`. Like `unlockAccount` for instance. https://github.com/ethereum/web3.js/blob/develop/lib/web3/methods/personal.js

[2017-09-24 11:28] ayrat555 commented on #3
@eduardonunesp There are too many implementations of ethereum's json rpc api so it will be quite hard to maintain all their custom api methods.

I guess I can add some basic method that you can call like
[code]

Is it ok for you?

[2017-09-24 11:31] izelnakri commented on #3
I think the current implementation encourages people to have create their own wallets, and secure them and sign transactions on their own. Unlocking wallets, get them to their ethereum client and sendTransaction method might be convenient for starters but it comes with security problems. I'm actually glad that we dont have the _personal methods. They are also not part of the ethereum JSON RPC but

[2017-09-24 11:33] izelnakri commented on #3
@eduardonunesp if you are interested in sending signed transactions via elixir you can check my ```eth``` hex library however it is very early stage/unstable.

[2017-09-24 11:55] ayrat555 commented on #3
@eduardonunesp if you are interested in sending signed transactions via elixir you can check izelnakri's eth hex library however it is very early stage/unstable

[2017-09-24 16:55] ayrat555 commented on #3
@izelnakri https://github.com/exthereum/ethereumex/pull/4 what do you think?

[2017-09-24 21:19] eduardonunesp commented on #3
Thanks @izelnakri and @ayrat555 that's all and makes sense to me, case closed here :+1:

[2017-09-25 05:45] #3 closed

[2017-09-25 17:10] eduardonunesp opened #5 "Calling smart contracts and executing functions"
I'm curious how you guys are calling smart contracts and executing functions, I'm bit struggling with compiling and functions from smart contracts. I'm working on an oracle service which should use `eth_call` function and I need to set some params on `data` params. Any tutorial or advice would be awesome.

[2017-09-30 19:00] ayrat555 commented on #5
@eduardonunesp I will be working on it in the next few weeks. You can help if you want.

[2017-10-01 14:40] eduardonunesp commented on #5
@ayrat555 for sure man, I'm very curious to interact within smart contracts using that lib, if you have any PR or any other repo will be awesome

[2017-10-03 20:47] ayrat555 opened #8 "Implement Ipc Client"
Implement Ipc Client like HttpClient is implemented (with Ethereumex.Client.Macro)
[code]

Currently there is no decent adapter for Unix sockets in Elixir ecosystem. I think we should try to use [procket](https://github.com/msantos/procket) but its api is too ugly and low level.

After finishing ipcClient HttpClient in SmartContract modules should be replaced with the new client.

[2017-10-04 03:34] eduardonunesp commented on #5
@ayrat555 congratulations for your job in the PR #7 I think the next step is to create functions or helpers to call the functions on smart contract to get and alter states on smart contracts. Do you think is possible to wrap up this within that PR ?

[2017-10-04 03:46] eduardonunesp commented on #5
To call smart contracts functions from json api is necessary to call `send_transaction` and pass some parameters like the address of the smart contract, also is necessary to compile the solidity ABI in the data parameter, so it's important to follow the doc (https://github.com/ethereum/wiki/wiki/Ethereum-Contract-ABI). I was working on that and using the module `{:keccak, "~> 2.0"}` to compile the

[2017-10-04 05:14] eduardonunesp commented on #5
Found a module called `hexate` which looks interesting to generate the params for the function calls `Hexate.encode(69, 64)` which generates `"0x" <> "0000000000000000000000000000000000000000000000000000000000000045"

[2017-10-04 05:17] eduardonunesp commented on #5
To generate the function signature.
[code]

[2017-10-04 05:18] ayrat555 commented on #5
@eduardonunesp thanks, that's the idea

I will take a look at abi.
But we had problems with keccak library implementing merkle patricia tree. It's bettter to use (keccakf1600_orig)[https://hex.pm/packages/keccakf1600_orig]

[2017-10-04 06:02] egalano opened #9 "Roadmap schedule / feature completion list"
Thanks for this your hard work. I've been following this project's progress. Do you have a roadmap document or other release schedule we can look to determine the client's level of maturity? For instance is the JSON RPC implementation fully compatible with https://github.com/ethereum/wiki/wiki/JSON-RPC ?

[2017-10-04 06:27] ayrat555 commented on #9
@egalano yep, it's fully compatible with official json rpc api. also you can call protocol implementation (parity, geth etc) custom apis with send_request method.

Plans:
1. Finish smart contracts functionality (compilation, deploy, interaction) - PR https://github.com/exthereum/ethereumex/pull/7
2. Implement Ipc client - issue https://github.com/exthereum/ethereumex/issues/8

[2017-10-04 06:28] egalano commented on #9
Great news thanks. I'll give it a try.

[2017-10-04 06:28] #9 closed

[2017-10-04 14:40] eduardonunesp commented on #5
@ayrat555 based on the code from `web3.js` which parses the `Smart Contract ABI`, do you think is in the scope of the project to have an ABI parser and functions to `Smart Contract Functions` and listen to `Smart Contract Events` ?

[2017-10-04 15:07] ayrat555 commented on #5
@eduardonunesp why not? We can do that. but there is library by @izelnakri called eth, maybe it has this functionality - https://github.com/izelnakri/eth

[2017-10-04 21:36] izelnakri commented on #5
@eduardonunesp currently I haven't built this functionality but would be more than happy to review your pull request if you are willing to contribute! Also I would appreciate if this isn't a seperate package, I'm already using several dependencies on https://github.com/izelnakri/eth, so I would like to keep it low as well.

[2017-10-09 20:30] ayrat555 commented on #5
@eduardonunesp I just found out that smart contract compilation using Json Rpc api is deprecated in both geth and parity.
I used old version of parity in https://github.com/exthereum/ethereumex/pull/7

[2017-10-09 20:34] eduardonunesp commented on #5
@ayrat555 I started to read and understand the `web3.js` is the ultimate source as base for Elixir port

[2017-10-16 07:52] #5 closed

[2017-10-16 08:06] ayrat555 opened #11 "Add documentations"
The library is purely documented. Fix that

[2017-12-01 11:53] NickPapacostas commented on #8
@ayrat555 I'm interested in working on this, were you thinking of using something like [procket](https://github.com/msantos/procket) to communicate with the socket?

thanks for all your work!

[2018-01-13 16:39] hickscorp commented on #11
It'd be nice to add a small paragraph in the docs on how to use the lib to perform smart contracts method calls, given a JSON ABI.

[2018-01-15 09:00] hayesgm commented on #11
Sure, I'll work on adding this to the README, but for those curious, it'll be something like this:

Add https://hex.pm/packages/blockchain and https://hex.pm/packages/abi

[code]

[2018-01-15 09:19] hickscorp commented on #11
That would be most helpful indeed - and IMO small things like this are the only roadblock preventing more exposure of this great library.

[2018-02-07 13:04] the-kenny opened #18 "Handle non-JSON responses"
I'm having some issues using a pretty loaded geth-node as the rpc server. It seems like sometimes it doesn't return a json body, causing https://github.com/exthereum/ethereumex/blob/master/lib/ethereumex/http_client.ex#L24 to error out with an `Undefined token on position 0` error in `Poison.decode!`, crashing the server. If `ethereumex` is under load and crashes more than 5 times in a quick succe

[2018-02-07 14:40] ayrat555 commented on #18
@the-kenny you already described solution to this problem. would you mind making a PR with it?

[2018-02-07 14:55] the-kenny commented on #18
I'll try to fix it & open a PR in the next few days :)

Ayrat Badykov <notifications@github.com> writes:

[2018-02-09 12:12] #18 closed

[2018-02-17 12:05] plu9in commented on #8
@ayrat555 @NickPapacostas
Is it not possible to use [https://stackoverflow.com/questions/1478831/erlang-unix-domain-socket-support](https://stackoverflow.com/questions/1478831/erlang-unix-domain-socket-support)

[2018-02-17 13:42] ayrat555 commented on #8
@plu9in Yes, it's possible.

@NickPapacostas wanted to work on this

[2018-04-06 22:07] hswick opened #21 "Decoding examples"
Not sure if this belongs in ABI or here, but it would be helpful if there was an example for encoding arguments for a transaction.

You're ABI library outputs binaries, but http poison does not have a protocol for bit strings. I am relatively new to Elixir so perhaps there is something I'm missing.

[2018-04-06 22:45] hswick commented on #21
Nevermind, I found that Hexate.encode worked well for me

[2018-04-06 22:45] #21 closed

[2018-05-08 22:53] hswick opened #23 "Generic Client Protocol"
It would be great if there was a generic client protocol that could be implemented by specific providers, like http, websocket, and ipc. It seems that a lot of the code for this to happen already exists, but a found a few difficulties when trying to extend this library with a  websocket client.

1. The supervisor tree has the HttpClient hardcoded into it.
2. When implementing the WebSocketClient m

[2018-06-07 19:15] tzumby commented on #11
@hayesgm did you get a chance to add that snipped to the README ? I went through a similar process to get the eth_call working. I can submit a PR with the docs and include your snippet as well.

[2018-06-08 06:40] ayrat555 commented on #11
@tzumby it'd be great

[2018-06-11 13:02] tzumby commented on #11
@ayrat555 PR is in :)

[2018-06-14 19:20] ayrat555 opened #25 "Write proper tests using mox library for macro"
https://github.com/plataformatec/mox

Jose Valim's post about behaviours will be helpful - http://blog.plataformatec.com.br/2015/10/mocks-and-explicit-contracts/

[2018-06-14 19:21] ayrat555 opened #26 "Write integration tests for all available httpclient methods"

[2018-06-25 01:53] ceresstation commented on #26
Hi @raininja, please let us know some time tomorrow if you're still working on this or we'll have to send it back to the crowd, thanks!

[2018-06-25 01:54] ceresstation commented on #8
Hi @NickPapacostas, did you still want to work on this?

[2018-06-25 05:57] raininja commented on #8
I'm working on it.  I will be happy to let it go if there was someone else more interested, or has started work on it.

[2018-06-25 05:59] raininja commented on #26
I'm working on it.  I will be happy  to let it go if there was someone else more interested, or has started work on it.  I understood that the time limit for this bounty was one month, so I assumed that there was no rush.

[2018-06-27 20:04] raininja commented on #8
I've decided to implement shackle [https://github.com/lpgauth/shackle] for the IPC Client. .   I am wondering if it would not be prudent to also upgrade(?) the httpclient at the same time? Or is this approach too heavy? @ayrat555

[2018-06-27 20:10] ayrat555 commented on #8
- why httpclient should be upgraded?
- does shackle support unix sockets?

[2018-06-27 23:10] raininja commented on #8
@ayrat555 I was thinking that httpclient would need to be upgraded to sync the two "backends"
and yes, shackle does support unix sockets
If you check [jsonrpc-elixir](https://github.com/fanduel/jsonrpc2-elixir/) as a reference, they've used shackle and buoy to this effect

[2018-06-28 07:55] ayrat555 commented on #8
Let's use gen_rpc. Thanks

[2018-06-29 18:31] raininja commented on #26
Still working on this, discussing it with @ayrat555

[2018-06-29 18:33] mkosowsk commented on #26
Best of luck @raininja! :)

[2018-06-30 15:09] ceresstation commented on #26
@raininja Sounds great, the bot just checks in for status updates so that we know the issue is being actively worked on :)

[2018-07-06 06:39] vs77bb commented on #8
Hi @raininja are you still working on this one?

[2018-07-06 15:48] vs77bb commented on #26
Hi @raininja - any update here on your side?

[2018-07-07 02:36] raininja commented on #26
Slowly but surely @vs77bb

[2018-07-07 02:38] raininja commented on #8
@vs77bb yes I am!

[2018-07-08 16:45] raininja commented on #8
Why have I gotten an email saying I was removed from this bounty?

[2018-07-08 17:58] ceresstation commented on #8
Sorry @raininja that's just an automated message from gitcoinbot, snoozing it now.

[2018-07-14 19:06] raininja commented on #26
I'm getting closer!

[2018-07-15 12:01] mkosowsk commented on #26
@raininja hope you feel better :)

[2018-07-18 20:51] mkosowsk commented on #8
@raininja how's your cornea? :) Think you'll be able to take a look at this issue? Thanks!

[2018-07-18 21:35] raininja commented on #8
@mkosowsk I'm ok, thanks.  I'm actually working on this now, having a bit of an issue as the documentation for the go-ethereum client days one thing but the geth console says another, the APIs don't seem to match

[2018-07-19 01:31] raininja commented on #8
@mkosowsk I'm ok, thanks.  I'm actually working on this now, having a bit of an issue as the documentation for the go-ethereum client days one thing but the geth console says another, the APIs don't seem to match

[2018-07-19 11:40] mkosowsk commented on #8
@ayrat555 do you have any insight on @raininja's issue on why the API's don't seem to match? Thanks!

[2018-07-19 11:48] ayrat555 commented on #8
Maybe geth's API includes custom methods or methods in the library is out of date

[2018-07-19 18:44] vans163 opened #30 "just including this in your project breaks things (if its not from hex)"
[code]

[2018-07-19 23:45] vans163 opened #32 "serializing constructor for smartcontract?"
Is there a way to serialize the constructor like here?
https://github.com/ethereum/web3.js/blob/develop/lib/web3/contract.js#L36L46

[2018-07-20 00:02] vans163 opened #33 "decode in readme doesnt work"
To convert the balance into an integer:

balance_bytes
|> String.slice(2..-1)
|> Base.decode16!(case: :lower)
|> TypeDecoder.decode_raw([{:uint, 256}])
|> List.first

If balance is 0 we get "0x0" as the return and we cant pipe that to Base.decode16!(case: :lower) without an error. We need to pad leading zero in this case.

I think a decode/encode function is needed in the library.

[2018-07-21 21:42] hswick commented on #32
Hi @vans163 you may be interested in my library that is a higher level wrapper around ethereumex, it supports constructor arguments https://github.com/hswick/exw3

[2018-07-22 02:03] vans163 commented on #32
@hswick il check it out more. The thing that bugs me is the native lib (libsecp256k1), im wondering what kind of nightmares will happen if i try to build an erlang release on windows.

[2018-07-23 19:40] raininja commented on #26
I've submitted a WIP PR this weekend. Please review for progress.

[2018-07-24 00:03] ghbutton commented on #11
Can we close this issue if it has been resolved?

[2018-07-24 01:00] ghbutton opened #35 "Multiple endpoints"
Currently, the only way send requests to a node is to set the configuration variable as such: `    Application.put_env(:ethereumex, :url, node)`

Would it be possible to have an option to pass the node on the function call instead of having it at the application level. Something like this: `Ethereumex.HttpClient.eth_gas_price(node: "http://localhost:8545")`

I can help with a PR if you are ok with

[2018-07-24 08:39] ayrat555 commented on #11
@ghbutton After adding doctests and moduledocs we can close it

[2018-07-24 13:45] ayrat555 commented on #35
@ghbutton I'm totally ok with this option. Thanks

[2018-07-25 02:40] ayrat555 commented on #30
@vans163 what version of elixir do you use? everything works find on elixir 1.6.5
[code]

[2018-07-25 02:41] ayrat555 commented on #33
@vans163 It's just an example in README

[2018-07-25 17:21] vans163 commented on #33
Its such a common procedure, any idea if it should be included in the lib?

[2018-07-25 17:22] vans163 commented on #30
@ayrat555 1.6.6

[2018-07-25 17:23] #30 closed

[2018-07-25 17:47] ayrat555 commented on #33
@vans163 Do you mean decoding/encoding hex values?

[2018-07-25 20:13] hswick commented on #33
You can simply use https://github.com/exthereum/abi, the separate modules makes sense since it is separate behavior

[2018-07-26 04:21] ukrit-himakoon opened #36 "Step by step example to send rawTransaction"
I've tried to follow the document but got this error. So need in detail example for this.

[code]

[2018-07-26 20:22] mkosowsk commented on #26
@ayrat555 have you a chance to review @raininja's PR [here](https://github.com/exthereum/ethereumex/pull/34)? Thanks!

[2018-07-27 03:35] hayesgm commented on #11
Would doctests be difficult since they are pretty side-effecting? Doctests are great for pure functions, but they aren't as clean for impure code.

[2018-07-27 08:47] hickscorp commented on #11
@hayesgm I usually go for module doc for such examples. Maybe that's the way to go.

[2018-07-27 13:59] ayrat555 commented on #11
Good point, Geoff. I think just descriptions for methods and their params would be nice

[2018-07-29 15:16] ghbutton commented on #36
As in the README you need to decode your addresses:
[code]

[2018-07-30 14:12] #25 closed

[2018-07-31 19:31] ghbutton commented on #35
https://github.com/exthereum/ethereumex/pull/37

[2018-07-31 19:32] #35 closed

[2018-07-31 19:32] ghbutton commented on #35
PR merged

[2018-07-31 19:36] ghbutton commented on #36
I dont really understand, are you trying to send eth to an address?

[2018-08-01 03:03] raininja commented on #8
Still working on this, recently submitted a WIP PR

[2018-08-01 03:09] raininja commented on #26
Still sorting this, awaiting a response or some feedback from @ayrat555

[2018-08-01 09:17] ukrit-himakoon commented on #36
Yes, you're correct. And I want to send them using sendRawTransaction

[2018-08-09 04:53] raininja commented on #8
still plugging away, awaiting some feedback from @ayrat555

[2018-08-21 17:32] ajose01 commented on #36
@ukrit-himakoon I don't have this in a nice README, but this hopefully unblocks you. This is what I put together for our transfers.

[code]

[2018-09-07 14:45] raininja commented on #8
no response in over a month from @ayrat555
not sure how to proceed on this?

[2018-09-07 15:36] ayrat555 commented on #8
@raininja I don't see any  notable progress there. A lot of commented code, changes in README and json cassette file changes.

[2018-09-07 15:45] raininja commented on #8
@ayrat555  the tests work now?  maybe I'm not clear on exactly what you wanted here

[2018-09-07 15:53] raininja commented on #8
OK, so at least I can see that you've looked at the code.

[2018-09-19 13:46] aman935 commented on #25
Hello there.
Yes, I am working, but cannot finish it, as of now. Please allow me some
more time for the same.

Thanks,
Aman Singh

On Sun, Sep 16, 2018 at 9:45 PM Gitcoin.co Bot <notifications@github.com>
wrote:

[2018-10-06 16:41] hswick commented on #8
Hi @ceresstation I would like to register for this bounty. See #40, but according to gitcoin it doesnt seem like I can right now.

[2018-10-06 17:00] ayrat555 commented on #8
@raininja can you please unassign yourself from this issue on gitcoin? @hswick has done a pretty good job and his PR will be merged soon

[2018-10-07 15:28] ayrat555 commented on #8
@hswick you should try to assign yourself to the issue on gitcoin

[2018-10-07 18:49] hswick opened #43 "Tests fail on latest version of Parity"
When I was messing around with the parity versions for the CircleCI build, I noticed that there are 4 test failures.

Can reproduce this with versions of parity between 2.0.6 and 1.11

[2018-10-07 18:56] hswick commented on #43
@ayrat555 I didn't read your [comment](https://github.com/exthereum/ethereumex/pull/40#issuecomment-427677329) well enough and missed the line about building it from source.

[2018-10-07 19:35] ayrat555 commented on #43
I hope this issue is related only to circle ci

My local setup:
[code]

[2018-10-07 19:38] hswick commented on #43
Huh, how strange. I'll try it on some of my machines and report back when I get a chance.

[2018-10-23 07:28] ayrat555 commented on #8
@ceresstation ping

[2018-10-23 07:30] ayrat555 opened #44 "Configure request timeout for IpcClient"
IpcClient requests sometimes fail with a timeout error

[code]

[2018-10-24 22:45] frankchen07 commented on #25
@ceresstation - is this bounty still active (shows up as open but expired on Gitcoin explorer)?

[2018-10-25 07:45] ayrat555 commented on #23
I think this issue is resolved

[2018-10-25 07:45] #23 closed

[2018-10-25 07:46] #36 closed

[2018-10-25 07:47] #33 closed

[2018-10-25 07:47] #32 closed

[2018-10-25 13:37] masonforest opened #48 "Figure out why request ids are being incremented by the parameter count"
It looks like request ids are being incremented by the number of parameters in the request. It's possible this is happening for batch requests. Should this happen for single requests as well? It's possible this is set up correctly. If so we can close this. If not we should update it to increment the request id by 1.

[2018-10-25 16:33] #44 closed

[2018-11-02 12:24] masonforest opened #49 "Add a module for making contract calls"
Currently we make contract calls by encoding ABI manually.

    abi_encoded_data = ABI.encode("transferFrom(address,address,uint)",[from_address, to_address, token_id])
    contract_address = "0x123" |> String.slice(2..-1) |> Base.decode16(case: :mixed)

    transaction_data = %Blockchain.Transaction{
        data: abi_encoded_data,
        gas_limit: 100_000,
        gas_price: 16_000_000_000,

[2018-11-02 18:45] hayesgm commented on #49
Makes sense to me, FYI, here's some code I had lying around relating to pulling ABI data from JSON files:

[code]

[2018-11-02 21:18] hswick commented on #49
FWIW I have most, if not all of this implemented here https://github.com/hswick/exw3
If there is any reason that library wouldn't suit your purpose I would be happy to hear it.

[2018-11-02 21:19] hswick commented on #8
@ceresstation pong

[2018-11-02 22:28] hayesgm commented on #49
I do personally like the idea of having a raw library (Ethereumex) and a higher-level library (ExW3). What do you think @masonforest ?

[2018-11-03 20:29] masonforest commented on #49
Yeah, I'm happy having two libraries 👍

I hadn't seen `exw3`! Just what I was looking for. Thanks @hswick !

[2018-11-03 20:29] #49 closed

[2018-11-10 13:09] konstantinzolotarev opened #51 "Move rpc url from config to parameter"
It makes more sense to configure RPC client using parameters (not in config)
Otherwise it's impossible to use it as real RPC client.

For example right now it's not possible to connect to 2 different EVMs at same time or reconfigure it without pain.

What do you think about something like this:
[code]

[2018-11-12 15:39] konstantinzolotarev commented on #51
Yep spawning new instance of rpc with custom parameters also will work.
Issue right now is that library is not usable anyhow except of connect to one JSONRPC.

[2018-11-12 21:17] hswick commented on #8
Thanks @ceresstation appreciate it!

[2018-11-12 21:17] #8 closed

[2018-11-19 10:45] konstantinzolotarev commented on #51
@ayrat555 Awesome ! Thank you !

[2018-11-19 10:45] #51 closed

[2018-11-21 08:31] ceresstation commented on #26
Hey @ayrat555 have you had a chance to look over this? Seems like it may have gotten lost.

[2018-11-21 08:45] ayrat555 commented on #26
@ceresstation I took a look a while ago. It's not finished

[2018-11-21 08:54] ceresstation commented on #26
@raininja any updates on your end? If not we may need to offer this back to the crowd.

[2018-12-12 16:14] roynalnaruto opened #53 "watch for new blocks (filter)"
Hello, is there a way I can watch for new blocks? Similar to the Javascript web3 API:
[code]
How can I achieve something similar using Ethereumex? I have checked the documentation [here](https://hexdocs.pm/ethereumex/Ethereumex.html#content), but I think it isn't updated yet.

[2018-12-12 17:01] hswick commented on #53
This is how I did it in my library https://github.com/hswick/exw3#events

Simply call get_filter_changes in a loop. If you want the async of `filter.watch` then put the loop in a Task.

[2018-12-18 19:58] kminevskiy opened #54 "Default block parameter for eth_estimate_gas (and some others)"
Hi,

I was trying to use the `eth_estimate_gas` function, but it looks like it has not been tested and all calls to it were failing.

Here's the error:

`{:error, %{"code" => -32602, "message" => "too many arguments, want at most 1"}}`

So after looking at the Ethereum JSON RPC specs, I figured that default block parameters can be specified only for certain [calls](https://github.com/ethereum/wiki

[2018-12-21 06:03] hswick commented on #54
It looks like in the link you posted (https://github.com/mana-ethereum/ethereumex/blob/master/lib/ethereumex/client/base_client.ex#L168) it looks like the typespec is incorrect.

You can get around this by using the generic request function:
[code]

[2018-12-21 19:38] denispeplin opened #56 "MatchError for IpcClient"
I'm trying to connect to `geth` and receiving following error:

[code]

Config file:

[code]

Geth:

[code]

[2018-12-29 11:58] ayrat555 commented on #56
@denispeplin I'm sorry for a late reply. `ethereumex` is prepending a home directory

[2018-12-29 11:59] #53 closed

[2018-12-29 12:00] ayrat555 commented on #54
https://github.com/mana-ethereum/ethereumex/pull/55 merged

[2018-12-29 12:00] #54 closed

[2019-01-09 07:06] #56 closed

[2019-01-19 14:12] denispeplin commented on #56
I tried `ipc_path: ".ethereum/geth.ipc",` same error. But I'm already using `web3` NodeJS package, and not because of IPC, but because I haven't found a simple way to send a transaction using `ethereumex`.

[2019-01-22 06:44] ayrat555 commented on #26
@kuhnchris no progress. it should be returned to the crowd

[2019-01-29 22:05] kuhnchris commented on #26
Ah! @ceresstation since you are the owner of that grant could you please kick that guy off, maybe throw a featured bounty onto gitcoinbot?
cc @owocki

[2019-01-30 00:09] raininja commented on #26
I actually had made progress, but it seems that @ayrat555 has some problem with me, so I'll be happy to remove myself.  the tests are done, less integrating a test blockchain which is needed for a few of the tests.  It's also rather frustrating that the value of the bounty dropped so significantly.

[2019-02-06 11:26] pdobacz opened #58 "Interpret empty-body responses from JSON rpc as errors"
`geth` returns an empty-body HTTP response, when it happens to be brought down when a request is being handled (so it seems at least). Such response is coded `200` and as such is passed onto `Jason.decode` which gives a `Jason.DecodeError` for `""`.

Firstly: maybe you are aware of why would `geth` be doing this to me or perhaps have run into the same issue? Asking in case this is purely a `geth`

[2019-02-07 14:33] ayrat555 commented on #58
@pdobacz
1. I did not encounter this issue
2. I think it's a good idea to interpret `""` response as an error or at least don't try to parse `""` with Jason

I'll add a fix on the weekend or I will be happy if you'll make a PR yourself

[2019-02-10 18:16] #58 closed

[2019-02-11 07:41] pdobacz commented on #58
Hi, thank you, I was away a couple of days and you beat me to it :+1:

[2019-02-24 00:28] xiaods commented on #25
@ceresstation - is this bounty still active (shows up as open but expired on Gitcoin explorer)?

[2019-05-22 14:54] pdobacz opened #60 "Dialyzer complains about RPC wrappers taking booleans as arguments"
I'm trying to call one of such functions:

[code]

(boolean at 2nd argument) and all works fine but dialyzer complains:

[code]

looking at https://github.com/mana-ethereum/ethereumex/blob/06e340e25e0c79c89a24c9578e8d27140b7a7f1f/lib/ethereumex/client/behaviour.ex#L36 it looks like the specs have `binary()` in that spot.

The function doesn't work with "false":

[code]

I'm not entirely sure if I'

[2019-05-22 16:56] InoMurko commented on #60
Sorted https://github.com/mana-ethereum/ethereumex/pull/61.
Thanks for reporting, @pdobacz !

[2019-05-22 16:56] #60 closed

[2019-06-05 23:46] drselump14 opened #62 "websocket support"
Is there any plan to include support for websocket?
I saw there is PR for this, but unfortunately the owner has removed it.
If necessary I have time to contribute to it. Please give me a guidance

[2019-06-06 06:53] hswick commented on #62
I believe the reasoning is that in practice implementing this isn't that helpful.

One reason is that having a timer for retrieving event filter changes every 1 second with a http request, works perfectly fine for production Ethereum apps. They deal with high network latency anyways.

You can take a look at how I do this with my library:
https://github.com/hswick/exw3#events

Combine this idea wit

[2019-06-10 14:29] InoMurko commented on #62
@hswick what do you mean that in practice `implementing this isn't that helpful`?

[2019-06-10 14:35] InoMurko commented on #62
@drselump14 if you need an example how a subscription via web sockets would look like: https://github.com/omisego/potterhat/pull/20/files#diff-2b9cdc401d068615be9a97ae309d295e

[2019-06-10 18:28] hswick commented on #62
@InoMurko `isn't that helpful` may be a bit too harsh. I'm sure one can imagine cases where they would like to use it.

However, I still stand by my point that push v pull is only an incremental improvement. As I mentioned a 1 second lag is generally acceptable for Ethereum applications. In the case you mentioned, this would decrease the load on the client by 50%. Unless the Ethereum network has g

[2019-06-19 07:26] roynalnaruto opened #63 "infinite timeout does not work"
I am trying the following configs:
[code]

But I get the following response:
[code]
for some requests. Is this response coming from Infura?

In order to get through this, I think I will have to keep making the same call until I get `{:ok, response}`. Is this the suggested way?

[2019-07-03 14:04] ayrat555 commented on #63
@roynalnaruto `ethereumex` returns results from a node. we can implement some king of retry logic. what do you think?

[2019-07-05 01:32] roynalnaruto commented on #63
Yes, I did that. Here is my snippet for that:
[code]

[2019-07-05 05:47] #63 closed

[2019-07-05 05:48] #62 closed

[2019-07-24 13:24] krondev opened #64 "Doesn't work with geth1.9"
I don't know what happend, but Ethereumex doesn't work with geth1.9.

When I try to call **Ethereumex.HttpClient.web3_client_version** I get **{:error, :econnrefused}**.

But with Parity it works good. I get
{:ok, "Parity-Ethereum//v2.6.0-beta-e38293b-20190708/x86_64-linux-gnu/rustc1.36.0"}

[2019-07-25 07:31] krondev commented on #64
Sorry guys, I didn't enable **--rpc**. Now it is work.

[2019-07-25 07:31] #64 closed

[2020-04-19 14:59] gregors opened #70 "error without optional telemetry dependency installed"
Looks like telemetry was added recently as an optional dependency - but it doesn't look optional

[code]

[2020-04-23 11:28] henry-hz opened #71 "multiple nodes - reconnection"
Many thanks for the amazing library!
I was thinkiing a way to have a really robust way to be in synch with Ethereum events, so let me hear if it makes sense:
1. create a reconnect procedure [we can get some inspiration from [this](https://github.com/jeremyong/websocket_client/blob/master/src/websocket_client.erl) ws client.
2. connect to 2 or more nodes, and subscribe to receive from them at the s

[2020-05-05 05:27] seamon opened #72 "rlp: non-canonical integer (leading zero bytes) for *big.Int, decoding into (types.Transaction)(types.txdata).R"
hi there, thanks for your good work.

when i send transaction using `Ethereumex.HttpClient.eth_send_raw_transaction(signed_transaction)`, sometime errors occur just like that:

`no match of right hand side value: {:error, %{"code" => -32000, "message" => "rlp: non-canonical integer (leading zero bytes) for *big.Int, decoding into (types.Transaction)(types.txdata).R"}}`

if i change any part of tra

[2020-05-17 21:16] InoMurko commented on #72
hey @seamon thank you for opening this issue. Can I ask you please to reopen this issue in ExRLP? https://github.com/mana-ethereum/ex_rlp

It would be very good if you included a step-by-step example where we can replicate the issue you're mentioning. Pls also include the version of ExRLP you're using.
cheers

[2020-05-17 21:16] #72 closed

[2020-05-17 21:20] InoMurko commented on #71
An architecture like that (with some adjustments) would definitely work for the particular use case you're mentioning. Perhaps this does not belong directly into ethereumex (its a thing wrapper around exposed RPC and WS functionality of eth clients) but in a separate project/repo that would then use ethereumex as a dependency.

good idea anyhow! ping me on twitter (@ino_murko) if you decide to pur

[2020-05-17 21:20] #71 closed

[2020-05-17 21:27] InoMurko commented on #70
https://github.com/mana-ethereum/ethereumex/pull/73

[2020-05-17 21:33] InoMurko opened #74 "dialyzer issues when using opts argument"
if you have a eth_call like this in the code:
[code]
where opts = [url: "http://localhost:8545"]
dialyzer will yield:
[code]

#todo need to include a small example project

[2020-05-27 10:45] ayrat555 commented on #70
resolved by https://github.com/mana-ethereum/ethereumex/pull/73

[2020-05-27 10:45] #70 closed

[2020-05-31 17:42] akrisanov opened #75 "How to send ERC20 tokens from one ethereum address to another?"
Could you please provide an example of sending ERC20 tokens using Ethereumex or ExW3? Do I need to use some ABI like this one?

[code]

I would like to send USDT from one Ethereum address to another.

[2020-07-24 06:59] ayrat555 commented on #75
@akrisanov please take a look at https://github.com/poanetwork/ex_abi

[2020-07-24 10:54] #75 closed

[2020-12-07 18:08] izelnakri opened #81 "Weird http pooling related error after v0.6.patch upgrade"
Hi there,

After upgrading `ethereumex`  from v0.6.0 to v0.6.1 my test suite fails/gets stuck with some odd error. After some debugging I find error to be a very implicit/fundamental change in the way http pool is handled due to internal `httpoison` upgrade:

https://github.com/izelnakri/eth/blob/master/test/support/eth_client.exs#L13
https://github.com/izelnakri/eth/blob/master/test/support/eth_c

[2020-12-23 02:49] rupurt opened #84 "Absolute IPC path"
Hi,

How do you feel about removing the [user home prefix](https://github.com/mana-ethereum/ethereumex/blob/master/lib/ethereumex/config.ex#L10) on the IPC path? With the current approach there is no way to set an absolute path. e.g. `/tmp/my.socket`

[2020-12-26 07:44] ayrat555 commented on #84
@rupurt your suggestion sounds ok to me. Will you prepare a pr?

[2020-12-27 05:02] #84 closed

[2020-12-27 05:48] ayrat555 commented on #48
it was resolved by https://github.com/mana-ethereum/ethereumex/commit/9e24f3fd03a4097d5319b40b92e494273d75070f

[2020-12-27 05:48] #48 closed

[2020-12-27 05:49] ayrat555 commented on #74
I think it got resolved by recent typespec improvements

[2020-12-27 05:49] #74 closed

[2020-12-27 05:49] #43 closed

[2020-12-27 05:50] ayrat555 commented on #81
Your pr was merges and httpoison  was bumped to 1.7 in 0.7.0

[2020-12-27 05:50] #81 closed

[2021-09-29 01:17] willjleong opened #91 "Feature Suggestion: ws client transport"
I'm interested in starting a PR to add the websocket transport protocol to this package. Is there anyone else that might want to help me with this?

We can use blockscout's [JSON-RPC module](https://github.com/blockscout/blockscout/tree/master/apps/ethereum_jsonrpc) for reference.

[2021-10-08 06:33] grahac commented on #91
I am not sure how much time I have in the short term but I am totally supportive of this! Was thinking about doing it too at some point.

[2021-11-09 00:50] lurodrigo opened #93 "Getting Jason.DecodeError, 400 in all requests"
Hi! Thanks for the great work.

Running  `ethereum` 0.7.1, `httppoison` 1.8.0

I keep getting this error

[code]

for whatever request I make, using the HTTPClient provided. I'm using a blockdaemon node.

I cloned the repo and added a `IO.inspect` after the `httppoison` request:

[code]

I suspect this may be a problem with HTTPoison but couldn't figure out why. I wrote a `BaseClient` implementati

[2021-11-15 07:07] ayrat555 commented on #93
@lurodrigo  Is it possible for you to share access to this node? I can test locally. you can contact me in telegram. @Ayrat555

[2021-11-16 13:10] lurodrigo commented on #93
Done!

[2021-11-21 13:27] ayrat555 commented on #93
fixed by https://github.com/mana-ethereum/ethereumex/pull/94

[2021-11-21 13:27] #93 closed

[2021-12-17 14:06] rkachowski opened #95 "Batched requests don't handle errors"
If a single request fails in a batched http request, it will throw the following error

[code]

This is because the batch is [implicitly assumed to be completely successful](https://github.com/mana-ethereum/ethereumex/blob/master/lib/ethereumex/client/base_client.ex#L472) and the results will be returned in a tuple `{:ok, results = []}`.

Unfortunately handling failing requests is going to require

[2021-12-22 19:38] gregors opened #96 "0.8 requests failed with basic auth urls"
I haven't had time to dig in-depth, but it looks to me like 0.8 fails with basic auth requests
such that:

[code]

to Infura, and downgrading to 0.7.1 things work just fine.

[2021-12-23 13:02] ayrat555 commented on #96
@gregors Can you please try to pass the custom basic auth header using [this pr](https://github.com/mana-ethereum/ethereumex/pull/97)?

If the pr works for you, I'll release a new version

[2021-12-23 22:07] gregors commented on #96
Thank you @ayrat555 !!!!!!! 🥇 works great!

[2021-12-24 06:31] ayrat555 commented on #95
@rkachowski can you please check if [this pr](https://github.com/mana-ethereum/ethereumex/pull/98) works for you?

if it does, I'll add the change to a new version

[2021-12-25 08:30] ayrat555 commented on #96
merged and released in 0.9.0

[2021-12-25 08:30] #96 closed

[2021-12-25 08:30] ayrat555 commented on #95
merged and released in 0.9.0

[2021-12-25 08:30] #95 closed

[2021-12-28 15:50] rkachowski commented on #95
that looks awesome, thanks for the change :)

[2022-01-11 15:31] spapas opened #99 "Multiple endpoints"
Hello friends, we have a requirement for a project to integrate with multiple networks/endpoints (we need ethereum and polygon). I understand that this is not supported. If you think it would be useful for the project I could try to implement that functionality as a PR with a care to be backwards compatible with the single provider version (i.e people that use a single provider won't need to chang

[2022-01-12 19:43] spapas commented on #99
I read the source code better and found out about the `:url` keyword that can be passed to the function so we can close the issue

[2022-01-12 19:43] #99 closed

[2022-01-18 03:44] somoza opened #100 "Problem following the documentation..."
iex(9)> ABI.encode("balanceOf(address)", [address]) |> Base.encode16(case: :lower)
** (FunctionClauseError) no function clause matching in ABI.TypeEncoder.maybe_encode_unsigned/1

    The following arguments were given to ABI.TypeEncoder.maybe_encode_unsigned/1:

        # 1
        {:ok,
         <<91, 29, 177, 3, 188, 236, 87, 218, 123, 135, 200, 13, 34, 181, 46, 75, 64,
           12, 91, 43>>}

[2022-01-18 04:23] somoza commented on #100
I found that there is a missing exclamation on the first Base.decode16.

In my case if I do this, does not work:

[code]

instead, is working this way:

[code]

[2022-01-18 10:02] ayrat555 commented on #100
@somoza hello. thank you for looking into it! Can you please submit a pr to fix this? 🙏

[2022-01-18 16:48] somoza commented on #100
Corse, pr created.

[2022-01-18 17:47] ayrat555 commented on #100
fixed by https://github.com/mana-ethereum/ethereumex/pull/101

[2022-01-18 17:47] #100 closed

[2022-01-20 16:51] somoza opened #102 "Add a clear example for sending transactions."
[code]

Do I need to do a transaction first?

I got:
```** (Jason.EncodeError) invalid byte 0xFC in <<252, 83, 33, 125, 207, 109, 79, 21, 193, 116, 8, 255, 147, 246, 107, 252, 40, 46, 165, 230>>```

The README has not a clear example of sending transactions. I would be charmed to add it, but first I should know how to do that :)

[2022-01-21 12:51] ayrat555 commented on #102
can you please print and share here
[code]

[2022-01-21 15:47] somoza commented on #102
Hey Ayrat!

I noticed that I have to sign it with the from address' private key. I used the ETH dep for that, here is my working code:

[code]
I can't manage this in a single way using Ethereumix...

I hope this could help somebody, even if is not the most common use to manage send transactions from the backend. I realize that people prefer to pass this task to JS on frontend in order to allow cli

[2022-01-27 14:06] ayrat555 commented on #102
@somoza hello can you please update README 🙏

[2022-01-27 15:41] somoza commented on #102
I could and would be a pleasure indeed, but I'm not using Ethereum library but a third party. Is it not a problem to update the README?

[2022-01-27 17:26] ayrat555 commented on #102
@somoza thank you anyway!

[2022-01-27 17:26] #102 closed

[2022-02-08 04:13] rupurt opened #107 "Most tests don't run on CI"
Most tests are currently not getting run on CI and there are several that don't run locally.

CI currently only runs `eth` & `batch`

[code]

https://github.com/mana-ethereum/ethereumex/blob/master/.circleci/config.yml#L41

I've opened up a [draft PR](https://github.com/mana-ethereum/ethereumex/pull/106) to highlight the tests that are currently broken

[2022-02-08 14:19] ayrat555 commented on #107
it would be great! we also can try using another ethereum client (geth) for this

[2022-02-08 14:36] rupurt commented on #107
@ayrat555 cool. I'm working on it now.

My aim is to run tests/CI against multiple clients.

[2022-02-10 21:43] gregors opened #112 "unable to pass headers to multiple endpoints"
We can pass `url` as an additional option, but not `http_headers`. For example - for basic auth

Please see PR #111 for a possible fix

[2022-02-12 06:01] ayrat555 commented on #112
I merged your pr. thank you!

[2022-02-12 06:01] #112 closed

[2022-02-24 17:58] albertoramires commented on #102
@ayrat555 is there a way to do something similar to @somoza's example with the ethereumex library? Using a PK instead of accounts that is.

[2022-02-27 10:23] astroTANSAN opened #118 "How do you verify a signature?"
I see there is a sign method, but I don't see a verify method. How can I verify a signature?

[2022-02-28 08:39] ayrat555 commented on #118
@astroTANSAN Hello. I think you should use https://github.com/omgnetwork/ex_secp256k1

[2022-02-28 08:44] astroTANSAN commented on #118
Oh, is this just basic symmetrical key sign/verify? would this mean I don't actually need the eth node to verify?

[2022-02-28 09:01] ayrat555 commented on #118
yes

[2022-02-28 09:09] #118 closed

[2022-05-05 06:33] leeduckgo opened #125 "eth-call is not working on Moonbeam-Network"
[code]

But curl is works:
<img width="798" alt="image" src="https://user-images.githubusercontent.com/12784118/166873103-1d643ef8-5bdd-47d8-9cf8-f6f829c14a8a.png">

[2022-05-05 07:50] ayrat555 commented on #125
@leeduckgo hey.

it worked fine for me 🤔
[code]

[2022-05-05 09:19] leeduckgo commented on #125
I found ethereum_ex 0.7.0 is work but ethereum_ex 0.9.0 is not work, lol.

[2022-05-05 16:47] ayrat555 commented on #125
@leeduckgo I used the latest version. it's working for me

can you please attach the error message that you're receiving?

[2022-05-06 03:15] leeduckgo commented on #125
<img width="651" alt="image" src="https://user-images.githubusercontent.com/12784118/167060999-fa191097-d750-4023-acc2-9d3d8f41de19.png">
[code]

And Our project is:

(Just down version of ethereumex yesterday.

[2022-05-06 06:38] ayrat555 commented on #125
@leeduckgo I think your configuration was missing a header

I created a pr https://github.com/WeLightProject/tai_shang_micro_faas_system/pull/29

can you please check

[2022-05-06 06:38] #125 closed

[2022-05-07 03:50] leeduckgo commented on #125
thx, bro!

[2022-09-15 12:44] InoMurko opened #138 "engine API"
https://github.com/ethereum/execution-apis/blob/main/src/engine/specification.md

@ayrat555 wdyt?

[2022-09-16 03:30] ayrat555 commented on #138
@InoMurko I think it's a good idea to implement it in ethereumex. Let's strart on the weekend?